<!DOCTYPE html>

<html>
    <head>
        {{>header}}
    </head>

    <body>
        <h1>The site created by Zulhisham Tan @6019-2820574.</h1>
  

        <img src="/img/zulhisham.jpg">

        
    </body>

    <footer>

    </footer>
</html>