<!DOCTYPE html>

<html>
    <head>
        {{>header}}
    </head>

    <body>
        <a href="/"><img src="/img/weatherworld.png" style="display:block; margin-left: auto; margin-right:auto"></a>
        
        <div style="display:block; margin-left: auto; margin-right:auto">
            <h1 style="text-align: center;">This web site exposes the real-time world weather data.</h1>
        </div>    
    </body>

    <footer>

    </footer>
</html>